body {
    background: linear-gradient(to right, bisque, rgb(169, 49, 233), rgb(66, 66, 226))
    ;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

#grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* .row {
    padding: 5px;
    justify-content: space-between;
} */

